<h1>Here are the students</h1>
  <% @students.each do |student| %>
    <div>
    
      <a href="/students/<%=student.id%>">
      
        <img src="<%= student.img_url %>" alt="">
      </a>
      
      <p>
        <%= student.name%>
      </p>
      <p>
        <%= student.house.name %>
      </p>
      
    
    
    </form>
      
    <% end %>
      
  </div>
