<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles.css">
  <title>Stock Request</title>
</head>

<body>
  <form action="/" method="get">

    <input type="text" name="stock_symbol"  value="">

    <button>Request</button>
  </form>
  <% if @stock %>
    <h1>Stock Price is: $<%= @stock.latest_price %></h1>
  <% end %>
</body>
</html>




























































<%# <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles.css">
  <title>Stocks</title>

</head>
<body>
  <form action="/sum" method="get">
  <input name="stock_request" type="text">
  <button>Go</button>
  </form>
</body>
</html> %>

<%# 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Stock</h1>
  <form action="/sum" method="get">
    <input name="stockrequest" type="text">
    <button>GO</button>
  </form>
</body>
</html> %>