<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>99 Bottles of Beer</title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  
  <%= yield %>

</body>
</html>

