<section>
  <h1> Uh oh! No more bottles of beer on the wall. <br/>
  Head to the 
    <a href=https://www.thebottle-o.com.au/store-locator>Bottle-O</a> and <a href="/">start again!</a>
  </h1>
</section>