<h1>Edit Planet</h1>

<form action="/planets/<%= @planets['id']%> " method="post">
  <input type="hidden" name="_method" value="put">
  <label for="">Name</label>

  <input type="text" name="name" value="<%= @planets['name']%>">
  <label for="">Image url</label>
  <input type="text" name="image_url" value="<%= @planets['image_url']%>">

  <input type="text" name="km_from_sun" value="<%= @planets['km_from_sun']%>">
  <button>Post</button>
</form>