<h1>new planet</h1>

<form action="/planets" method="post">
  <label for="">name</label>
  <input type="text" name="name">
  <label for="">image url</label>
  <input type="text" name="image_url">
  <label for="">Kilometers from sun</label>
  <input type="text" name="km_from_sun">
  <button>post</button>
</form>