<h1> <%= @planets['name'] %></h1>
<img src="<%= @planets['image_url'] %>" alt="">

<form action="/planets/<%= @planets['id']%> ">
  <input type="hidden" name="_method" value="delete">
  <button>delete</button>
</form>

<a href="/planets/<%= @planets['id']%>/edit">
  <button>edit</button>
</a>

