<h1><%= @houses.name %></h1>

<% @students.each do |student| %>
  <% if student.house_id == @houses.id %>
    <div class="student">
      <h2><%= student.name %></h2>
      <img src="<%= student.img_url %>" alt="">
    </div>
  <% end %>
<% end %>
