.headBorder {
  height: 80px;
  background: linear-gradient(to bottom right, rgb(134, 44, 48), rgb(200, 42, 63));
}


body {
  /* display: flex; */
  /* flex-wrap: wrap; */
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  /* background: linear-gradient(to bottom, #ffae4b 0%,#ff910b 100%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* border: 5px solid rgb(0, 0, 0); */
  /* box-shadow: 3px 5px rgb(243, 216, 127); */
}

div {
  /* background-color: rgb(250, 241, 202); */
  /* border: 2px solid black; */
  font-size: 18px;
  display: flex;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  /* box-shadow: 3px 5px #888888; */
  /* border: 2px solid rgb(138, 12, 12); */
}

form {
  /* border: 3px solid black; */
  width: 100%;
}

.searchBox {
  /* border: 3px dashed black; */
  width: 75%;
  height: 100%;
  font-size: 1.5em;
  border: 2px solid rgb(134, 44, 48);
}

.button2 {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto',sans-serif;
  font-weight: 550;
  color: rgb(0, 0, 0);
  text-align: center;
  transition: all 0.15s;
  width: 20%;
}

.button2:hover{
  color:rgb(212, 195, 195);
  border-color:rgb(243, 237, 237);
}

.button2:active{
  color:#BBBBBB;
  border-color:#BBBBBB;
}
img {
  display: flex;
  margin: 30px;
  box-shadow: 5px 5px 5px rgb(15, 15, 15);
  /* border: 2px solid black; */
}

.mainDisplay {
  display: flex;
}

aside {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 50%;
  /* border: 2px solid blue; */
}

h1 {
  font-size: 35px;
  border-bottom: 4px solid black;
  /* margin: 30px; */
  /* border: 2px solid royalblue; */
}

a {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin-left: 20px;
  text-decoration: none;
  transition: ease-in;
  /* border: 2px solid black; */
}

a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 30px;
  display: flex;
}