* {
  box-sizing: border-box
}

body {
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family: 'Josefin Slab', serif;
  /* background-image: url(checkerdgrey.jpg); */
  /* background-image: url(triangles.jpg); */
  background-color: rgba(185, 189, 184, 0.198);
  width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.title {
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5em;
}

img {
  /* border: 2px solid black; */
  width: 150px;
  height: 150px;
  padding: 20px;
  justify-content: left;
}

.boxes {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: auto;
}

.savings, .checking {
  /* border: 1px solid black; */
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  margin: 10px;
  padding: 20px;
  box-shadow: 3px 5px rgba(63, 62, 62, 0.568);
  background-color: antiquewhite;
  border-radius: 25px 25px 25px 25px;
}

.savings {
  background-color: #e1d1ec;
  opacity: 0.8;
}

.checking {
  opacity: 0.8;
}

.savingsBalance, .checkingBalance {
  padding: 10px;
  font-size: 1.5em;
}

.savingsInput, .checkingInput {
  padding: 15px;
  font-size: 0.8em;
  opacity: 1;
  width: 100%;
  box-shadow: 3px 5px rgba(10, 10, 10, 0.856);
}

button {
  padding: 5px;
  margin: 20px;
  opacity: 0.8;
  border-radius: 20px 7px 20px 7px;
  box-shadow: 1px 3px rgba(10, 10, 10, 0.856);
  font-weight: 100;
  font-size: 0.6em;
  background-color: rgb(255, 255, 255);
}

