<head>earch Movie..
  <div class= "headBorder">
  </div>
</head>

<section>

  <h1>Movie Database</h1>
  <form action="/movie_search" method="get">
    <input class="searchBox" name="movie_name" type="text" placeholder="S.">
    <button class="button2">Search</button>
  </form>
</section>


<%# working for ine page search %>
<%# <h1>Movie Database</h1>
<form action="/movie" method="get">

  <input name="movie_name" type="text" placeholder="Search Movie...">
  
  <button class="button2">Search</button>
</form> %>
