<head>
  <div class= "headBorder">
  </div>
</head>

<section>

  <h1>Movie Database</h1>
  <form action="/movie_search" method="get">
    <input class="searchBox" name="movie_name" type="text" placeholder="Search Movie...">
    <button class="button2">Search</button>
  </form>
</section>

<% @search['Search'].each do |film|%>

  <ol>
    <a href="/movie?imdbID=<%=film['imdbID']%>">
      <%= film['Title'] %> --- <%= film['Year']%>

    </a>
  </ol>

<% end %>


<%# <%= film['Title'] %> 