<form action="/space_rocks" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="" name="name" value="<%= @space_rock.name%>">
  <input type="" name="image_url" value="<%= @space_rock.image_url%>">
  <button>Add Planet</button>

</form>